 body {
     font-family: 'Open Sans', sans-serif;
     margin-top: 2em;
     margin-bottom: 4em;
     padding-left: 30px;
     padding-right: 30px;
}
 a {
     outline: none;
     text-decoration: none;
}
 a:link {
     color: #6495ED;
}
 a:visited {
     color: #6495ED;
}
 a:focus {
     color: #6495ED;
}
 a:hover {
     text-decoration: underline;
     color: #6495ED;
}
 a:active {
     color: #6495ED;
}
