@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    display: flex; 
    flex-direction: column; 
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: #6495ED;
}

a:visited {
    color: #6495ED;
}

a:focus {
    color: #6495ED;
}

a:hover {
    text-decoration: underline;
    color: #6495ED;
}

a:active {
    color: #6495ED;
}

a.header {
    color: black;
    cursor: not-allowed;
}

header { 
    margin-top: 1.5em;
    min-height: 50px;
}

footer {
    min-height: 50px;
    margin-top: auto; 
}
h1 {
    margin: 0;
}
.right {
    float: right;
}

.left {
    float: left;
}
