@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: #6495ED;
}

a:visited {
    color: #6495ED;
}

a:focus {
    color: #6495ED;
}

a:hover {
    text-decoration: underline;
    color: #6495ED;
}

a:active {
    color: #6495ED;
}

a.header {
    color: black;
}

header {
    margin-top: 15px;
    min-height: 50px;
}

footer {
    min-height: 50px;
    margin-top: auto;
    padding-bottom: 10px;
}

h1 {
    margin: 0;
}

hr {
    height: 0.2px;
    background-color: #202131;
    border: 0.2px #202131;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

img.emoji {
    /* Since we are using SVGs, you have to change the width using CSS */
    width: 1.2em;
    height: 1.2em;
    /* 
    This is to make the emojis feel like actual emojis to 
    the user and they won't act like images. This makes the emojis
    non-reactive to any mouse events such as dragging, 
    hovering, clicking etc. Makes it feel like its actual text.
    */
    pointer-events: none;
    cursor: text;
}