<a class="header left" href="/">Home</a>

<a class="header right" href="/#about.html">About</a>

<a class="header right" href="/#blog.html">Blog&nbsp;</a>

<br />
<hr />

<script>
    var headerHrefs = document.getElementById("header").children;
    if(window.location.pathname == "/" && !currentHash) {
        headerHrefs[0].style.textDecoration = "underline";
    } else {
        for(var k=0; k<headerHrefs.length; k++) {
            if(headerHrefs[k].tagName == "A") {
                if (headerHrefs[k].href.endsWith(currentHash)) {
                    headerHrefs[k].style.textDecoration = "underline";
                }
            }
        }
    }
    if(currentHash.startsWith("#posts")) {
        headerHrefs[2].style.textDecoration = "underline";
    }
</script>